RESULTS

<% @response.each do |user| %>
  <p> <img src= "<%= user.profile_image_url_https %>"></p>

  <p><%= user.screen_name %></p>
  <p><% user.id %></p>
  <p><%= user.name %></p>
  <p><%= user.description %></p>
  <hr>
<% end %>



<ul class="pagination">
  <li class="<%="disabled" if @current_page == 1%>">
    <%= link_to "Previous Page", twitter_results_path({twitter_search: @query, twitter_page: @previous_page }) %>
  </li>
  <li class="<%="disabled" if @current_page == 5%>">
    <%= link_to "Next Page", twitter_results_path({twitter_search: @query, twitter_page: @next_page }) %>
  </li>
</ul>
