<!DOCTYPE html>
<html>
<body>
  <div class="row" id="center-form">
      <div class="col-md-5">
        <form class="form-inline" >
          <%= form_tag twitter_results_path, method: :get do %>
          Twitter <%= text_field_tag :provider_search, params[:provider_search], :placeholder => "Search", class:"form-control" %>
          <%= hidden_field_tag :provider, "twitter" %>
          <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
          <% end %>
      </div>
    </form>
      <div class="col-md-5">
        <form class="form-inline" >
          <%= form_tag vimeo_results_path, method: :get do %>
            Vimeo <%= text_field_tag :provider_search, params[:provider_search], :placeholder => "Search", class:"form-control" %>
            <%= hidden_field_tag :provider, "vimeo" %>
            <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
