<% @tweets.each do |t| %>
  <p> <img src= "<%= t.user.profile_image_url_https %>"></p>
  <p><%= t.user.screen_name %></p>
  <p><%= t.user.name %></p>
  <p><%= t.text %></p>
  <p><%= t.created_at %></p>
  <hr>

<% if @all.size == 0%>
  Search for users to grow your feed!
<% end %>

<% @all.each do |thing| %>
  <% if thing.inspect[0..8] == "#<Twitter" %>
    <p> <img src= "<%= thing.user.profile_image_url_https %>"></p>
    <p><%= link_to "#{thing.user.screen_name}", "https://twitter.com/intent/user?user_id=#{thing.user.id}" %></p>
    <p><%= thing.user.name %></p>
    <p><%= auto_link(thing.text).html_safe %></p>
    <p><%= thing.created_at %></p>
    <hr>
  <% else %>
    <p class="responsive-container"><iframe src="//player.vimeo.com/video/<%=thing['id']%>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><%=thing['title']%> from <%=thing['user_name']%></p>
    <p><%=thing['upload_date']%></p>
    <hr>
  <% end %>
<% end %>
<h1>Your Aggre-gator Feed</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-s-12">
      <h1><%= @user.name %>'s Aggre-gator Feed</h1>
    </div>
  </div>
</div>

<% if @all.size == 0%>
  Feed Your Aggregator! <%= link_to "Search for users", root_path %> to grow your feed.
<% end %>

<div class="container">
<% @all.each do |thing| %>
  <% if thing.inspect[0..8] == "#<Twitter" %>
    <div class="row">

      <div class="col-lg-1 col-md-1 col-s-1 col-xs-2">
        <div><img src= "<%= thing.user.profile_image_url_https %>"></div>
      </div>
      <div class="col-lg-11 col-md-11 col-s-11 col-xs-10">
        <div class="full-name"><%= link_to "#{thing.user.name}", "https://twitter.com/intent/user?user_id=#{thing.user.id}" %> <span class="user_name">@<%= thing.user.screen_name %></span></div>
        <div class="twitter-text"><%= auto_link(thing.text).html_safe %></div>
        <div class="time-posted"><%= thing.created_at.strftime("Posted on %c") %></div>
      </div>

    </div>
    <hr>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <div class="responsive-container"><iframe src="//player.vimeo.com/video/<%=thing['id']%>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><%=thing['title']%> from <%=thing['user_name']%></div>
        <div><%= thing['title'] %> by <span class="full-name"><%= link_to "#{thing['user_name']}", "#{thing['user_url']}" %></span></div>
        <div class="time-posted"><%=DateTime.parse(thing['upload_date']).strftime("Posted on %c")%></div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
</div>
