<% if @tweets.size == 0 || @videos.size == 0%>
  Search for users to grow your feed!
<% end %>

<% @all.each do |thing| %>
  <% if thing.inspect[0..8] == "#<Twitter" %>
    <p> <img src= "<%= thing.user.profile_image_url_https %>"></p>
    <p><%= link_to "#{t.user.screen_name}", "https://twitter.com/intent/user?user_id=#{t.user.id}" %></p>
    <p><%= thing.user.name %></p>
    <p><%= thing.text %></p>
    <p><%= thing.created_at %></p>
    <hr>
  <% else %>
    <p><iframe src="//player.vimeo.com/video/<%=thing['id']%>" width="500" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><%=thing['title']%> from <%=thing['user_name']%></p>
    <p><%=thing['upload_date']%></p>
    <hr>
  <% end %>
<% end %>


