<% @subscriptions.each do |subscription| %>
  <% id = subscription.id %>
  <% user = @client.user(id) %>
  <p> <img src= "<%= user.profile_image_url_https %>"></p>
  <p><%= user.screen_name %></p>
  <p><% user.id %></p>
  <p><%= user.name %></p>
  <p><%= user.description %></p>
  <p><%= button_to "Unsubscribe", root_path, class: "btn btn-default" %>
  <hr>
<% end %>


