<div class="container">
  <div class="row">
    <div class="col-lg-12 col-s-12">
      <h1>Subscriptions</h1>
    </div>
  </div>
</div>

<% if @subscriptions.size == 0 %>
  Feed Your Aggregator! <%= link_to "Search for users", root_path %> to grow your feed.
<% end %>

<div class="container">
<% @subscriptions.each do |subscription| %>
  <% if subscription.media == "twitter" %>
    <% id = subscription.local_id.to_i %>
    <% user = @client.user(id) %>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-s-1 col-xs-2">
        <div><img src= "<%= user.profile_image_url_https %>"></div>
        <div id="twitter-icon-sub"><%= image_tag "twitter-256-black.png"%></div>
      </div>
      <div class="col-lg-8 col-md-8 col-s-8 col-xs-6">
        <div class="full-name"><%= link_to "#{user.name}", "https://twitter.com/intent/user?user_id=#{user.id}" %>&nbsp;<span class="user_name">@<%= user.screen_name %></span></div>
        <div><% user.id %></div>
        <div><%= user.description %></div>
      </div>
      <div class="col-lg-3 col-md-3 col-s-3 col-xs-4">
        <div><%= button_to "Unsubscribe", destroy_subscription_path(id: subscription.id), class: "btn btn-default", method: :delete %></div>
      </div>
    </div>
      <hr>
  <% elsif subscription.media == "vimeo" %>
    <% id = subscription.local_id.to_i %>
    <% user = Vimeo::Simple::User.info(id) %>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-s-1 col-xs-2">
        <div><img width="48px" src="<%= user["portrait_medium"] %>"></div>
        <div id="vimeo-icon-sub"><%= image_tag "vimeo-256-black.png" %></div>
      </div>
      <div class="col-lg-8 col-md-8 col-s-8 col-xs-6">
        <div class="full-name"><%= link_to "#{user["display_name"]}", "#{user['user_url']}" %></span></div>
        <div><%= user["bio"] %></div>
      </div>
      <div class="col-lg-3 col-md-3 col-s-3 col-xs-4">
        <div><%= button_to "Unsubscribe", destroy_subscription_path(id: subscription.id), class: "btn btn-default", method: :delete %></div>
      </div>
    </div>
      <hr>
  <% end %>
<% end %>
</div>
