<% @subscriptions.each do |subscription| %>
  <% id = subscription.local_id.to_i %>
  <% user = @client.user(id) %>
  <p> <img src= "<%= user.profile_image_url_https %>"></p>
  <p><%= link_to "#{user.screen_name}", "https://twitter.com/intent/user?user_id=#{user.id}" %></p>
  <p><% user.id %></p>
  <p><%= user.name %></p>
  <p><%= user.description %></p>
  <p><%= button_to "Unsubscribe", destroy_subscription_path(id: subscription.id), class: "btn btn-default", method: :delete %>
  <hr>
<% end %>
