<!DOCTYPE html>
<html>
<head>
  <title>Aggre-Gator</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<title>Aggre-Gator</title>
    <div class="masthead" class="gator">
      <%= image_tag ("gatorOpenMouth.jpg") %>
    </div><!-- end of gator -->


    <div class="container-fluid">
      <ul class="nav nav-pills">
        <% if current_user %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Feed", feed_path %></li>
        <li><%= link_to "Manage Subscriptions", show_subscriptions_path %></li>
        <% end %>

    <div id="signin" class="row" class="col-lg-12">
      <% if session[:user_id] %>
          Welcome, <%= User.find(session[:user_id]).name %>!&nbsp;
        <%= link_to "Sign out", destroy_session_path, method: :delete %>
        <% if Provider.find_by(user_id: session[:user_id], name: "twitter")==nil %>
        <%= link_to "Connect via Twitter", "/auth/twitter" %>
      <% end %>

      <% if Provider.find_by(user_id: session[:user_id], name: "vimeo")==nil %>
        <%= link_to "Connect via Vimeo", "/auth/vimeo" %>
      <% end %>
      <% else%>
      </ul>
    </div>

    <div id="provider-icons">
        <a href="/auth/twitter" title="Twitter"><%= image_tag("twitter-256-black.png", size: "75px", alt: "twitter")%></a>
        <a href="/auth/vimeo" title="Vimeo"><%= image_tag("vimeo-256-black.png", size: "75px", alt: "Vimeo")%></a>
        <% end %>
      <div id="flash-notice">
        <%= flash[:notice] %>
      </div>
    </div>

          <%= yield %>

    </div>
  </body>
</html>
